* {
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    color: #000;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav img {
    padding: 0 2vw;
}

nav a {
    padding: 0 1vw;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
}

.left {
    width: 50vw;
    text-transform: uppercase;
}

.left img {
    height: 65%;
}

.left a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
}



#men-link{
    animation: men 100s ease-out 0s 0;
}
@keyframes men {
    0% {
        border-bottom: 3px solid rgb(177, 0, 30);
    }
    2% {
        border-bottom: 2px solid #ff3f6c;
    }
}
#women-link{
    animation: women 100s ease-out 0s 0;
}
@keyframes women {
    0% {
        border-bottom: 3px solid #ff25de;
    }
    2% {
        border-bottom: 2px solid #ff4ae4;
    }
}
#kids-link{
    animation: kids 100s ease-out 0s 0;
}
@keyframes kids {
    0% {
        border-bottom: 3px solid rgb(255, 119, 0);
    }
    2% {
        border-bottom: 2px solid orange;
    }
}
#home-living-link{
    animation: home-living 100s ease-out 0s 0;
}
@keyframes home-living {
    0% {
        border-bottom: 3px solid rgb(255, 183, 0);
    }
    2% {
        border-bottom: 2px solid rgb(212, 212, 0);
    }
}
#beauty-link{
    animation: beauty 100s ease-out 0s 0;
}
@keyframes beauty {
    0% {
        border-bottom: 3px solid  rgb(0, 151, 177);
    }
    2% {
        border-bottom: 2px solid rgb(0, 180, 212);
    }
}
#studio-link{
    animation: studio 100s ease-out 0s 0;
}
@keyframes studio {
    0% {
        border-bottom: 3px solid  #fe2d5e;
    }
    2% {
        border-bottom: 2px solid #fd557c;
    }
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: #ffffffb8;
}
.dropdown-menu .close-btn{
    cursor: pointer;
    width: fit-content;
    padding: 15px;
    font-size: 1.8em;
    display: block;
    position: absolute;
    right: 0;
}

.option-menu{
    font-family:'Courier New', Courier, monospace;
    font-size: 0.92em;
    position: absolute;
    display: none;
    top:9.8vh;
    left: 8vw;
    width: 60vw;
    height: 55vh;
    background-color: white;
    overflow-x: auto;
}
.option-menu .inside-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
    height: 100%;
    margin: 0 2.5%;
}
.option-menu .alternate{
    background-color: ghostwhite;
}
.option-menu a{   
    font-weight: lighter;
    letter-spacing: 0.5px;
    line-height: 18px;
    color: #717171;
}
.option-menu a:hover{
    font-weight: 650;
    color: #000000;;
}

.option-menu hr{
    width: 80%;
    margin-top: 16px;
    margin-left: 10% !important;
}
.option-menu section{
    padding: 16px 0 8px 0;
    font-weight: 800;
}

.men-menu{
    border-top:1px solid #ff3f6c ;
}
.men-menu section{
    color: #ff3f6c;
}
.women-menu{
    border-top:1px solid #ff4ae4 ;
}
.women-menu section{
    color: #ff4ae4;
}
.kids-menu{
    border-top:1px solid orange ;
}
.kids-menu section{
    color: orange;
}
.home-living-menu{
    border-top:1px solid rgb(255, 234, 0) ;
}
.home-living-menu section{
    color:  rgb(212, 212, 0) ;
}
.beauty-menu{
    border-top:1px solid rgb(0, 180, 212);
}
.beauty-menu section{
    color:  rgb(0, 180, 212) ;
}
.option-menu .one{
    width: 200px;
    height: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.studio-menu{
    
    border-top:1px solid #fd557c;
    background-color: white;
    display: none;
    width: 500px;
    height: 47vh;
    position: fixed;
    top: 9.8vh;
    left: 25vw;
    z-index: 900;
}
.studio-menu .inside-div{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
    margin: auto;
}
#studio-logo{
    width: 40%;
}
.studio-menu img{
    width: 100%;
}
.studio-menu button{
    align-self: center;
    padding: 10px;
    border: none;
    background-color: #fd557c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.studio-menu button:hover{
    font-size: large;
}
.dropdown-menu .top{
    font-size: 1.5em;
    font-weight: 800;
}
.login-menu{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: calc(50vh - 125px);
    left: calc(50vw - 200px);
    width: 400px ;
    height: 250px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.login-menu form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.login-menu .login{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.login button{
    padding: 8px 12px;
    background-color: #fd557c;
    color: white;
    border-radius: 4px;
    border: none;
}
.detail-bar {
    width: 100%;
    height: 2.5em;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border:2px solid rgb(222, 222, 222) ;
}

nav .detail-box input {
    border: none;
    padding: 2px;
    height: 2.5em;
    width: 250px;
    font-size: 0.85em;
    background-color: transparent;
    outline: none;
}

.right {
    width: 50vw;
}

.right a {
    display: none;
}

.search-bar {
    width: 65%;
    height: 50%;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
}

nav .search-box input {
    border: none;
    padding: 2px;
    height: 2.5em;
    width: 100%;
    font-size: 0.85em;
    background-color: transparent;
    outline: none;
}


nav .search-box {
    width: 100%;
}

nav .barIcon {
    padding: 0 0.8rem 0 0.8rem;
    height: 2.5em;
}


.last-section {
    padding-right: 2vw;
    width: 35%;
    height: 100%;
}

.last-section p {
    font-weight: 100;
    color: #00000098;
    font-size: 0.9em;
}

.profile-wl-bag {
    height: 50%;
    width: 70%;
    cursor: pointer;
}
.profile-wl-bag p{
    font-weight: 900;
    font-size: 0.75em;
}

.profile-wl-bag  div {
    justify-content: space-around;
    align-items: center;
}




.transparent{
    display: none;
    position: absolute;
    top:10vh;
    background-color: #ffffffb8;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

.panel1 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 3vh;
    background-color: rgba(228, 228, 228, 0.779);
}

.panel1 a {
    padding: 0 3vw;
    height: 100%;
    display: flex;
    align-items: center;
}


.banner {
    flex-wrap: wrap;
    width: 100vw;
}

.blank {
    height: 10vh;
}

.banner-pics {
    width: 25vw;
}

.banner-pics img {
    width: 100%;
    height: 100%;
}

.midBars img {
    width: 100vw;
}
main{
    width: 100vw;
}

/* footer */
footer .bottom-bar{
    width: 100vw;
    background-color: #ededed;
}
.row1 {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.first-entry {
    padding-top: 0.8rem;
}

.entry {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(144, 144, 144);
}

.col1 {
    width: 250px;
}

.col2 {
    width: 300px;
}

.download {
    width: 100%;
}

.download img {
    width: 45%;
    padding-right: 8px;
}

.connect {
    width: 50%;
}

.connect i {
    font-size: 1.2em;
}

.promises img {
    height: 3rem;
    width: 5rem;
}

.original {
    width: 90%;
    font-size: 0.9em;
}

.original img {
    margin-right: 0.5em;
    width: 2.8em;
    height: auto;
}
.popular-searches{
    margin: auto;
    width: 80vw;
    height: 20vh;
}
.popular-searches .heading{
    position: relative;
    top: -37px;
    background-color: #ededed;
    width: fit-content;
    padding: 0 5px 0 0;
}

.info-section{
    width: 80%;
    font-size: 1rem;
    display: flex;
    margin: auto;
}
.info-section .contact a{
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 153, 255);
}
.info-section .contact , .info-section .copyright{
    width: 50%;
    padding: 30px 0 ;
}
.info-section .copyright{
    text-align: right;
}
@media screen and (max-width : 500px) {
    *{
        font-size: 0.9em;
    }
    .row1{
        justify-content: left;
        
        width: 70%;
    }
}
@media screen and (max-width : 600px) {
    *{
        font-size: 0.95em;
    }
    .last-section{
        width: 30%;
    }
    .last-section i {
        font-size: 150%;
    }
    .last-section p{
        display: none;
    }
    .row1{
        width: 80%;
        font-size: 1em;
    }
}

@media screen and (max-width : 1100px) {
    nav .left {
        display: none;
    }

    nav .right {
        width: 100vw;
        justify-content: space-between;
        align-items: center;
    }

    .right a {
        display: inline;
    }

    .right img {
        height: 40px;
    }

    .panel1 {
        display: flex;
    }

    .blank {
        height: 13vh;
    }

    .row1 {
        font-size: 85%;
        display: flex;
        flex-wrap: wrap;
    }
    .option-menu{
        width: 80vw;
        top:12.8vh;
    }
    .studio-menu{
        left: 40vw;
        top:12.8vh;
    }
}



